{% extends "::base.html.twig" %}

{% block title %}DinoBundle:Dinosaur:editDino{% endblock %}

{% block body %}
<h1>Welcome to the Dinosaur:editDino page</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
